
@*<section class="banner-section bg_img jquery-ripples" data-background="assets/images/banner/banner-bg02.jpg" style="background-image: url(&quot;assets/images/banner/banner-bg02.jpg&quot;);">*@
<section class="banner-section style-two bg_img" style="background-image: url('/MainSiteContent/images/about/Hubstaff Re-design.jpg');">
    <div class="container">
        <div class="banner-content mx-auto text-center">
            <span class="cate wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 1s; animation-name: fadeInUp;"></span>
            <h1 class="title wow fadeInDown" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;"> Top time tracking app<br />for Android</h1>
            <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;"><p>Lightweight, full-featured time and GPS location tracking for Android users. Get the details on the app functionality and download now.</p><br />No credit card required.
            <div class="button-group justify-content-center wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: fadeInUp;">
                <a href="contact.html" class="custom-button">Try Hubstauff for free</a>
                <a href="admission.html" class="custom-button active">Talk to Sale</a>
            </div>
        </div>
    </div>
    <canvas width="1161" height="727" style="position: absolute; inset: 0px; z-index: -1;"></canvas>
</section>
<section class="about-us-section padding-top">
    <div class="container">
        <div class="row flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/AndroidApp2.jpg" alt="about">
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">The one Android app to<br>track all of your work</h2>

                    <p class="h4">
                        Hubstaff keeps accurate records of hours, location, and much more. Work without interruption wherever you go. Hubstaff's lightweight Android time tracker app works in the background, recording work hours and GPS location, so mobile and remote teams can focus on what they do best.
                    </p>

                </div>

            </div>

        </div>
    </div>
</section>
<section class="about-us-section padding-top">
    <div class="container">
        <div class="row flex-wrap-reverse">

            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">Data-rich timesheets for<br>your team</h2>

                    <p class="h4">
                        Detailed timesheets, available whenever you need to access them. View who was working and when across jobs, locations, and more through daily emails. In the Android time card app, you can view daily and weekly timesheets for you and your team in just seconds.
                    </p>

                </div>

            </div>
            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/AndroidApp3.jpg" alt="about">
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<section class="about-us-section padding-top">
    <div class="container">
        <div class="row flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/AndroidApp4.jpg" alt="about">
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">Streamline the start and <br />stop with geofences</h2>

                    <p class="h4">
                        Never forget to start and stop the timer again. Create geofences around your Job sites, and Hubstaff will automatically start and stop time tracking for your team. Or, set reminders to start tracking instead of using the auto-start option.
                    </p>

                </div>

            </div>

        </div>
    </div>
</section>
<section class="about-us-section padding-top">
    <div class="container">
        <div class="row flex-wrap-reverse">

            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">Improve operations with<br>reporting</h2>

                    <p class="h4">
                        Check on hours, activity, payroll, and more in detailed weekly reports right in the Hubstaff Android app. All data is custom formatted and built-in so you can review offline and on-the-go. All tracked time seamlessly pulls in to your web-based dashboard for easy invoicing, payments, and much more. Get the data you need, clearly displayed and right at your fingertips.
                    </p>

                </div>

            </div>
            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/android5.jpg" alt="about">
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<section class="about-us-section padding-top">
    <div class="row justify-content-center mb-30-none">
        <!-- Card 1 -->
        <div class="col-md-6 col-lg-4 col-sm-10">
            <div class="card-container">
                <div class="client-item client-item-two">
                    <div class="client-thumb">
                        <h4 class="sub-title">
                            Proof of work
                        </h4>
                    </div>
                    <div class="client-content">
                        <p>
                            See work as it happens with optional screenshots, apps and URLs used, and more.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-6 col-lg-4 col-sm-10">
            <div class="card-container">
                <div class="client-item client-item-two">
                    <div class="client-thumb">
                        <h4 class="sub-title">
                            Project budgeting
                        </h4>
                    </div>
                    <div class="client-content">
                        <p>
                            Set hour and budget limits for projects and team members.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-6 col-lg-4 col-sm-10">
            <div class="card-container">
                <div class="client-item client-item-two">
                    <div class="client-thumb">
                        <h4 class="sub-title">
                            Time off
                        </h4>
                    </div>
                    <div class="client-content">
                        <p>
                            One app for tracking holidays and time off requests.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-us-section padding-top">
    @*<div class="section-header">
        <h2 class="title">
            How different roles use timesheet software
        </h2>
    </div>*@
</section>

<div class="row justify-content-center mb-30-none">
    <!-- Card 1 -->
    <div class="col-md-6 col-lg-4 col-sm-10">
        <div class="card-container">
            <div class="client-item client-item-two">
                <div class="client-thumb">
                    <h4 class="sub-title">
                        Invoicing
                    </h4>
                </div>
                <div class="client-content">
                    <p>
                        Easily generate invoices based on bill rates and time tracked.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-6 col-lg-4 col-sm-10">
        <div class="card-container">
            <div class="client-item client-item-two">
                <div class="client-thumb">
                    <h4 class="sub-title">
                        Time tracking
                    </h4>
                </div>
                <div class="client-content">
                    <p>
                        Available for desktop, web, iOS, or Android.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-6 col-lg-4 col-sm-10">
        <div class="card-container">
            <div class="client-item client-item-two">
                <div class="client-thumb">
                    <h4 class="sub-title">
                        Timesheet approvals
                    </h4>
                </div>
                <div class="client-content">
                    <p>
                        Review, approve, or reject timesheets..
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



