
@*<section class="banner-section bg_img jquery-ripples" data-background="assets/images/banner/banner-bg02.jpg" style="background-image: url(&quot;assets/images/banner/banner-bg02.jpg&quot;);">*@
<section class="banner-section style-two bg_img" style="background-image: url('/MainSiteContent/images/about/Hubstaff Re-design.jpg');">
    <div class="container">
        <div class="banner-content mx-auto text-center">
            <span class="cate wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 1s; animation-name: fadeInUp;"></span>
            <h1 class="title wow fadeInDown" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;">Power through projects with our<br />employee productivity tracker</h1>
            <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
                No credit card required.
                <div class="button-group justify-content-center wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: fadeInUp;">
                    <a href="contact.html" class="custom-button">Try Hubstauff for free</a>
                    <a href="admission.html" class="custom-button active">Talk to Sale</a>
                </div>
        </div>
    </div>
    <canvas width="1161" height="727" style="position: absolute; inset: 0px; z-index: -1;"></canvas>
</section>
<div class="row justify-content-center mb-30-none">
    <div class="col-md-6 col-lg-4 col-sm-10">
        <div class="event-instructor">
            <div class="client-thumb">
                <div class="thumb">
                    <img src="~/MainSiteContent/images/about/laptop-with-energy-mass-equivalence-formula-on-screen.jpg" alt="client">
                </div>
            </div>
            <div class="client-content">

                <h4 class="sub-title"><a href="#0">Activity rates give you accurate productivity<br />benchmarks</a></h4>
                @*<span>Senior Instructor</span>*@
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 col-sm-10">
        <div class="event-instructor">
            <div class="client-thumb">
                <div class="thumb">
                    <img src="~/MainSiteContent/images/about/laptop-with-energy-mass-equivalence-formula-on-screen.jpg" alt="client">
                </div>
            </div>
            <div class="client-content">

                <h4 class="sub-title"><a href="#0">Hubstaff's dashboard shows your entire<br />team’s productivity in one view</a></h4>

            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 col-sm-10">
        <div class="event-instructor">
            <div class="client-thumb">
                <div class="thumb">
                    <img src="~/MainSiteContent/images/about/laptop-with-energy-mass-equivalence-formula-on-screen.jpg" alt="client">
                </div>
            </div>
            <div class="client-content">

                <h4 class="sub-title"><a href="#0">Time and activity reports help cut out<br />inefficiency</a></h4>

            </div>
        </div>
    </div>
</div>
<section class="about-us-section padding-top">
    <section class="overview-two-section overview-three-section">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div class="col-lg-6 p-0 bg_img" data-background="/MainSiteContent/images/about/productuctivity1.jpg" style="background-image: url(&quot;assets/images/overview/overview-bg04.jpg&quot;);">
                </div>
                <div class="col-lg-6 p-0">
                    <div class="overview-two-content w-100 h-100 padding-top padding-bottom bg-theme">
                        <div class="content">
                            <div class="section-header mb-low light left-style">
                                <h2 class="title">How employee productivity tracking works</h2>
                                @*<span class="d-inline-block mx-auto shape-header"></span>*@
                            </div>
                            <div class="choose-area light-color">
                                <div class="choose-item">
                                    <h4 class="title">our team downloads the app</h4>
                                    <p style="font-family: Arial ">Hubstaff’s Mac, Windows, Linux and Chromebook apps, plus the Google Chrome extension and web timer, all offer various productivity features.</p>
                                </div>
                                <div class="choose-item">
                                    <h4 class="title">Employee productivity is measured</h4>
                                    <p>As team members track time, Hubstaff records activity, projects, and tasks. Everyone has access to all their own data.</p>
                                </div>
                                <div class="choose-item">
                                    <h4 class="title">Gain insights to increase productivity</h4>
                                    <p>Detailed reports and the Hubstaff dashboard let you dig into what’s working and where you can improve.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="about-us-section padding-top">
    <div class="section-header">
        <h2 class="title">
            Measure employee performance
        </h2>
    </div>


    <div class="row justify-content-center mb-30-none">
        <!-- Card 1 -->
        <div class="col-md-6 col-lg-4 col-sm-10">
            <div class="card-container">
                <div class="client-item client-item-two">
                    <div class="client-thumb">
                        <h4 class="sub-title">
                            Prioritize the right metrics
                        </h4>
                    </div>
                    <div class="client-content">
                        <p>
                            Simple time tracker and timesheets for remote work that helps business owners spot unproductive employee time.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-6 col-lg-4 col-sm-10">
            <div class="card-container">
                <div class="client-item client-item-two">
                    <div class="client-thumb">
                        <h4 class="sub-title">
                            Visualize employee performance
                        </h4>
                    </div>
                    <div class="client-content">
                        <p>
                            See real-time employee data like activity, app and URL usage, earnings, PTO, hours worked, and more.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-6 col-lg-4 col-sm-10">
            <div class="card-container">
                <div class="client-item client-item-two">
                    <div class="client-thumb">
                        <h4 class="sub-title">
                            Celebrate and motivate employees
                        </h4>
                    </div>
                    <div class="client-content">
                        <p>
                            Set productivity level and employee activity goals for your remote team, and they’ll get notifications about their workday summary and KPIs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-us-section padding-top">
    <div class="container">
        <div class="row flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">Where metrics meet morals</h2>

                    <p>
                        Manage your team your way with employee monitoring privacy settings. You’re in control of what metrics matter with customizable permissions for each team member.
                    </p>
                    <ul>
                        <li> <b>Screenshots.</b> Hide, blur, or remove screenshots.</li>
                        <li><b>Apps & URLs.</b>Track apps and URLs, just apps, or disable the feature altogether.</li>
                        <li> <b>Activity. </b> Hide, blur, or remove screenshots.</li>
                        <li><b>Locations.</b>TEnable locations for accurate route tracking or disable them for in-office and remote teams.</li>
                        <li><b>App & URL blurring (Coming soon).</b>Blur unproductive apps and URLs for enhanced privacy.</li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/productivity3.jpg" alt="about">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-us-section padding-top">
    <div class="container">
        <div class="row flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/productivity4.jpg" alt="about">
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">Mental health matters</h2>

                    <p>
                        With great power comes great responsibility — and that responsibility is to protect employee well-being. Hubstaff gives remote leaders the features they need to create a culture of trust and transparency, improve retention, and help everyone have their most productive day at work.<br />Features like Stand-ups, achievement badges, and app and URL usage help managers find the sweet spot between productivity and mental health. Tweak what workforce management metrics Hubstaff tracks to check in on your team, help them achieve their goals, and protect their work-life balance as you see fit.
                    </p>
                   
                </div>

            </div>

        </div>
    </div>
</section>
<section class="about-us-section padding-top">
    <div class="container">
        <!-- Row 1 -->
        <div class="row justify-content-center mb-30-none">
            <!-- Card 1 -->
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Productivity reporting for remote<br />employees and freelancers
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                See detailed reports like Time & activity, Apps and URLs, Weekly limits, and more.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Over 30+ integrations
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Automate more with integrations like Slack and Asana.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Increase productivity with<br />Insights
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Categorize productive apps and URLs, balance meeting and focus time, and more with the Hubstaff Insights.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-30-none">
            <div class="row justify-content-center mb-30-none">
                <!-- Card 1 -->
                <div class="col-md-6 col-lg-4 col-sm-10">
                    <div class="card-container">
                        <div class="client-item client-item-two">
                            <div class="client-thumb">
                                <h4 class="sub-title">
                                    Idle time settings
                                </h4>
                            </div>
                            <div class="client-content">
                                <p>
                                    Get reminders to stop tracking or reassign time when idle.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="col-md-6 col-lg-4 col-sm-10">
                    <div class="card-container">
                        <div class="client-item client-item-two">
                            <div class="client-thumb">
                                <h4 class="sub-title">
                                    Time tracking
                                </h4>
                            </div>
                            <div class="client-content">
                                <p>
                                    Easy, accurate apps for desktop, web, and mobile.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="col-md-6 col-lg-4 col-sm-10">
                    <div class="card-container">
                        <div class="client-item client-item-two">
                            <div class="client-thumb">
                                <h4 class="sub-title">
                                    Project and time management
                                </h4>
                            </div>
                            <div class="client-content">
                                <p>
                                    Developed to fit the needs of most of the agile project managers in all business areas
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-30-none">
                <div class="col-md-6 col-lg-4 col-sm-10">
                    <div class="card-container">
                        <div class="client-item client-item-two">
                            <div class="client-thumb">
                                <h4 class="sub-title">
                                    Real-time data
                                </h4>
                            </div>
                            <div class="client-content">
                                <p>
                                    Check in on employees right from your dashboard to balance workloads, improve employee experience, and become more productive and profitable.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="col-md-6 col-lg-4 col-sm-10">
                    <div class="card-container">
                        <div class="client-item client-item-two">
                            <div class="client-thumb">
                                <h4 class="sub-title">
                                    Streamlined payroll
                                </h4>
                            </div>
                            <div class="client-content">
                                <p>
                                    Add pay rates and send payments based on time tracked.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="col-md-6 col-lg-4 col-sm-10">
                    <div class="card-container">
                        <div class="client-item client-item-two">
                            <div class="client-thumb">
                                <h4 class="sub-title">
                                    Simple pricing
                                </h4>
                            </div>
                            <div class="client-content">
                                <p>
                                    Plans that fit your needs on productivity tools
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
</section>

<section class="about-us-section padding-top">
    <div class="container">
        <div class="row flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/productivity2.jpg" alt="about">
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h1 class="title">Hubstaff solved our pain point the moment we started using it. Not only are we saving time and money, but our team actually has more free time each day</h1>

                </div>

            </div>

        </div>
    </div>
</section>
