
<section class="banner-section style-two bg_img" style="background-image: url('/MainSiteContent/images/about/Hubstaff Re-design.jpg');">
    <div class="container">
        <div class="banner-content mx-auto text-center">
            <span class="cate wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 1s; animation-name: fadeInUp;"></span>
            <h1 class="title wow fadeInDown" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;"> Easy time tracking<br />software for ​<br />freelancers</h1>
            <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;"><p>With detailed online timesheets, customizable productivity features, and automated payments using pay rates.</p><br />No credit card required.
            <div class="button-group justify-content-center wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: fadeInUp;">
                <a href="contact.html" class="custom-button">Try Hubstauff for free</a>
                <a href="admission.html" class="custom-button active">Talk to Sale</a>
            </div>
        </div>
    </div>
    <canvas width="1161" height="727" style="position: absolute; inset: 0px; z-index: -1;"></canvas>
</section>
<section class="about-us-section padding-top">

    <h2 class="title" style="text-align:center">Simple, smart freelance time tracking software</h2><br />
    <p class="h4" style="text-align:center"> There’s an easier way to keep track of freelance work hours and rates. With Hubstaff’s web, mobile, and desktop apps for Mac, Windows, Linux and Chrome, just start the timer and begin working. See hours worked and send invoices in a snap.</p>
</section>
<section class="about-us-section padding-top">
    <div class="container">
        <div class="row flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/freelanceimg1.jpg" alt="about">
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">Track your time as a<br />freelancer</h2><br />
                    @*<span class="d-inline-block mx-auto shape-header"></span>*@
                    <p class="h4">
                        Track billable and non-billable time on client projects using one of Hubstaff's simple time tracking apps.
                    </p>
                </div>

            </div>

        </div>
    </div>
</section>
<section class="about-us-section padding-top">
    <div class="container">
        <div class="row flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">Precise time and activity<br />reporting</h2><br />
                    @*<span class="d-inline-block mx-auto shape-header"></span>*@
                <p class="h4">
                    Organize projects by clients and save their information for easy billing. Invite them to Hubstaff so they can stay in the loop on your progress, without interrupting your workflow or time away.
                </p>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/freelanceimg3.jpg" alt="about">
                    </div>

                </div>
            </div>
         

        </div>
    </div>
</section>
<section class="about-us-section padding-top">

    <h2 class="title" style="text-align:center">Timesheets and invoicing</h2><br />
    <p class="h4" style="text-align:center"> Generate invoices in seconds using time tracked toward client projects, and keep track of partial, full, and outstanding payments all in one view.</p>
</section>
<section class="about-us-section padding-top">

    <h2 class="title" style="text-align:center">Freelancer time tracking and so much more</h2></section>
   <section class="about-us-section padding-top">
    <div class="container">
        <!-- Row 1 -->
        <div class="row justify-content-center mb-30-none">
            <!-- Card 1 -->
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Time tracking
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Web-timer and apps for desktop or mobile.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Maintain budgets
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Set limits on projects and freelancer hours.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Track expenses
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Keep track of any expenses related to freelance work.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row justify-content-center mb-30-none">
            <div class="row justify-content-center mb-30-none">
                <!-- Card 1 -->
                <div class="col-md-6 col-lg-4 col-sm-10">
                    <div class="card-container">
                        <div class="client-item client-item-two">
                            <div class="client-thumb">
                                <h4 class="sub-title">
                                    Increase productivity
                                </h4>
                            </div>
                            <div class="client-content">
                                <p>
                                    Learn and improve with detailed reports.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="col-md-6 col-lg-4 col-sm-10">
                    <div class="card-container">
                        <div class="client-item client-item-two">
                            <div class="client-thumb">
                                <h4 class="sub-title">
                                    Client invoicing
                                </h4>
                            </div>
                            <div class="client-content">
                                <p>
                                    Create easy invoices based on freelancer time tracked and bill rates.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="col-md-6 col-lg-4 col-sm-10">
                    <div class="card-container">
                        <div class="client-item client-item-two">
                            <div class="client-thumb">
                                <h4 class="sub-title">
                                    Time tracking on desktop, mobile, or web
                                </h4>
                            </div>
                            <div class="client-content">
                                <p>
                                    Track freelance hours using Hubstaff’s apps for macOS, Windows, Linux, iOS or Android.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </section>
   <section class="about-us-section padding-top">
       <div class="container">
           <div class="row flex-wrap-reverse">
               <div class="col-lg-6">
                   <div class="section-header left-style mb-low mw-100 mt-down">
                       <h2 class="title">Tracking freelance<br />hours is a breeze with<br />Hubstaff</h2><br />
                       @*<span class="d-inline-block mx-auto shape-header"></span>*@
                       <p class="h4">
                           Get started today and free up time to focus on your business.
                       </p>
                       <div class="button-group justify-content-center wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: fadeInUp;">
                           <a href="contact.html" class="custom-button">Try Hubstauff for free</a>
                           </div>
                       </div>

                   </div>
               <div class="col-lg-6">
                   <div class="about-us-thumb">
                       <div class="thumb1 wow slideInUp">
                           <img src="~/MainSiteContent/images/about/freelanceimg4.jpg" alt="about">
                       </div>

                   </div>
               </div>


           </div>
       </div>
   </section>

