<section class="banner-section style-two bg_img" style="background-image: url('/MainSiteContent/images/about/Hubstaff Re-design.jpg');">
    <div class="container">
        <div class="banner-content mx-auto text-center">
            <span class="cate wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 1s; animation-name: fadeInUp;"></span>
            <h1 class="title wow fadeInDown" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;">Chrome time tracker</h1>
            <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">Track work hours with the push of a button using Hubstaff's Chrome time tracker. Just add the Chrome extension or download it to your Chromebook.</p><br />No credit card required.
            <div class="button-group justify-content-center wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: fadeInUp;">
                <a href="contact.html" class="custom-button">Get the Chrome extension</a>
                <a href="admission.html" class="custom-button active">Try the full version</a>
            </div>
        </div>
    </div>
    <canvas width="1161" height="727" style="position: absolute; inset: 0px; z-index: -1;"></canvas>
</section>

<section class="about-us-section padding-top">
    <div class="container">
        <div class="row flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/googlechromeextension1.jpg" alt="about">
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">Easy time tracking and task<br />management</h2>

                    <p class=" h4">
                        Your team can track time to specific tasks and projects with the Hubstaff timer button on the Chromebook application. With several project management tools integrated with Hubstaff, it’s easy to pull in project data and assign time to it..
                    </p>

                </div>

            </div>

        </div>
    </div>
    </section>
<section class="about-us-section padding-top">
    <div class="container">
        <div class="row flex-wrap-reverse">

            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">Get more from timesheets</h2>

                    <p class=" h4">
                        Gain insight on time spent so you can bill accurately and pay teams, with notes added directly into entries. See exactly how much time was spent on each task so you can pay confidently for hours worked.
                    </p>

                </div>

            </div>
            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/chromeextension2.jpg" alt="about">
                    </div>

                </div>
            </div>


        </div>
    </div>
</section>
<section class="about-us-section padding-top">
    <div class="container">
        <div class="row flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/chromeextension3.jpg" alt="about">
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">All of your team’s work in<br />one place</h2>

                    <p class=" h4">
                        Time tracked within Hubstaff apps automatically feeds into your dashboard so you can check-in quickly without disrupting work. View your team’s time spent on tasks and projects, where your budget stands, and much more with detailed reports. You can easily navigate to your Hubstaff account page through the Chrome time tracker extension or app for Chromebook.
                    </p>

                </div>

            </div>

        </div>
    </div>
</section>
<section class="about-us-section padding-top">
    <div class="container">
        <div class="row flex-wrap-reverse">

            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">One click and you’re<br />tracking</h2>

                    <p class=" h4">
                        Move from one task to another with just a couple of clicks. You can select tasks, projects, add notes for more clarity, navigate to your dashboard, and even set up reminders to clock-in.
                    </p>

                </div>

            </div>
            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/chromeextension4.jpg" alt="about">
                    </div>

                </div>
            </div>


        </div>
    </div>
</section>
<section class="about-us-section padding-top">
    <div class="container">
        <!-- Row 1 -->
        <div class="row justify-content-center mb-30-none">
            <!-- Card 1 -->
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Proof of work
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                See work as it happens with optional screenshots, apps and URLs used, and more.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Simple payroll
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Track time. Send invoices. Pay teams. Done.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Projects
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Create clients or projects in Hubstaff for accurate timesheets.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-30-none">
            <div class="row justify-content-center mb-30-none">
                <!-- Card 1 -->
                <div class="col-md-6 col-lg-4 col-sm-10">
                    <div class="card-container">
                        <div class="client-item client-item-two">
                            <div class="client-thumb">
                                <h4 class="sub-title">
                                    Easy invoices
                                </h4>
                            </div>
                            <div class="client-content">
                                <p>
                                    Snd client invoices based on time tracked and bill rates.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="col-md-6 col-lg-4 col-sm-10">
                    <div class="card-container">
                        <div class="client-item client-item-two">
                            <div class="client-thumb">
                                <h4 class="sub-title">
                                    Activity levels
                                </h4>
                            </div>
                            <div class="client-content">
                                <p>
                                    Track activity over time based on keyboard and mouse usage.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="col-md-6 col-lg-4 col-sm-10">
                    <div class="card-container">
                        <div class="client-item client-item-two">
                            <div class="client-thumb">
                                <h4 class="sub-title">
                                    Timesheet approvals
                                </h4>
                            </div>
                            <div class="client-content">
                                <p>
                                    Review, approve, or reject timesheets.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </section>
