@*<section class="banner-section style-two bg_img" data-background="/MainSiteContent/images/about/Hubstaff Redesign.jpg">*@
<section class="banner-section style-two bg_img" style="background-image: url('/MainSiteContent/images/about/Hubstaff Re-design.jpg');">
    <div class="container">
        <div class="banner-content ml-0">
            @*<span class="cate wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">

                </span>*@
            <h1 class="title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0s" style="text-align:center">
                Driving productivity<br /> for work teams <br />everywhere
            </h1>
            <p class="wow fadeInUp ml-0" data-wow-duration="1s">
                One app to automate time tracking processes, workforce management,<br />
                and productivity metrics
            </p>

        </div>
    </div>
</section>
<section class="about-us-section padding-top">
    <div class="container">
        <div class="row flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">Instantly improve<br /> productivity</h2>
                    @*<span class="d-inline-block mx-auto shape-header"></span>*@
                    <p class=" h4">
                        It’s simple psychology. When your team tracks time with Hubstaff, everyone is more aware of how they're spending each minute of their day. This improves focus and keeps your team on task.<br />
                        <br /><b>One-minute setup</b><br /><br />
                    <p class="h4">There’s zero learning curve, so your team can start tracking right away.</p><hr /><br />
                    <p class=" h4"><b>Over 30 integrations</b></p><br />
                    <p class="h4">Connect Hubstaff to your favorite business apps.</p>
                    
                </div>
              
            </div>
            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/filters_format.jpg" alt="about">
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-us-section padding-top">
    <div class="container">
        <div class="row flex-wrap-reverse">

            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/AutoImg.jpg" alt="about">
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">Automate team<br /> management</h2>
                    @*<span class="d-inline-block mx-auto shape-header"></span>*@
                    <p class=" h4">
                        Hubstaff tackles time-draining admin work for you. Balance workloads, reduce burnout, and maximize profits with real-time workforce management features.<br />
                        <br /><b>Set work limits</b><br /><br />
                    <p class="h4">Set weekly hours limits and get notifications when team members’ hours are approaching.</p><hr /><br />
                    <p class="h4"><b>Time Off</b></p><br />
                    <p class=" h4">Customize shifts, policies for PTO, holidays, and more with Hubstaff’s Time Off feature.</p>
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="about-us-section padding-top">
    <div class="container">
        <div class="row flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">Find and fix money leaks</h2>
                    @*<span class="d-inline-block mx-auto shape-header"></span>*@
                    <p class="h4">
                        Is a project or client draining your profit margin? Hubstaff will let you know. It gives you reports on where your company's billable hours are going and how that impacts revenue.
                        <br /> <br /><b>Know what to prioritize</b><br /><br />
                    <p class="h4">Reports show you which projects are most profitable and which ones drain your team’s time.</p><hr />
                   <p class="h4"><b>Control expenses</b></p><br />
                   <p class="h4">Track expenses and set weekly budgets or time limits for teams. Get alerts when projects go over.</p>
                   
                </div>

            </div>
            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/Find_fix.jpg" alt="about">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



@*<section class="about-us-section padding-top">*@
    <div class="container">
        <div class="row flex-wrap-reverse">

            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/BalanceProductivity.jpg" alt="about">
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">Balance productivity and<br /> privacy</h2>
                    @*<span class="d-inline-block mx-auto shape-header"></span>*@
                    <br /><p class="h4">
                        We’re strictly interested in productivity — not your personal data. Hubstaff helps ensure teams are reaching peak efficiency without compromising anyone’s privacy. For us, that means:
                        <br /><br /><b>No keystroke logging</b><br />

                        <b>No email monitoring</b><br />

                     <b>No access to cameras, webcams, video recording, etc.</b>
                    </p>
                </div>

            </div>
        </div>
    </div>
@*</section>*@
