<section class="banner-section style-two bg_img" style="background-image: url('/MainSiteContent/images/about/Hubstaff Re-design.jpg');">
    <div class="container">
        <div class="banner-content mx-auto text-center">
            <span class="cate wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 1s; animation-name: fadeInUp;"></span>
            <h1 class="title wow fadeInDown" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;">Power up with work<br />from home​<br />software</h1>
            <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;"><p>
                Hubstaff helps teams manage remote work better with time tracking, productivity and monitoring features, and automated payments and invoicing. Available for Desktop, Chrome, web, and mobile apps.
            </p><br />No credit card required.
            <div class="button-group justify-content-center wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: fadeInUp;">
                <a href="contact.html" class="custom-button">Try Hubstauff for free</a>
                <a href="admission.html" class="custom-button active">Talk to Sale</a>
            </div>
        </div>
    </div>
    <canvas width="1161" height="727" style="position: absolute; inset: 0px; z-index: -1;"></canvas>
</section>
<section class="about-us-section padding-top">
    <div class="section-header">
        <h2 class="title" style="text-align:center">One central dashboard for leading remote teams</h2>
        @*<span class="d-inline-block mx-auto shape-header"></span>*@
        <p style="text-align:center">
            From the Hubstaff dashboard, you can see your team’s hours and activity rates, and dig into detailed time reports. By streamlining admin tasks and capturing proof of work, everyone can focus on their most important projects instead of interrupting one another to check-in.
        </p>
    </div>
</section>
<section class="about-us-section padding-top">
    <div class="container">
        <div class="row flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">Smarter time tracking from<br />any device</h2><br />
                    @*<span class="d-inline-block mx-auto shape-header"></span>*@
                    <p class="h4">
                        Track time to specific tasks from Hubstaff’s intuitive desktop, Chrome, web, and mobile apps. Get detailed timesheets emailed directly to you that recap what your remote team worked on that day.
                    </p>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/timetrackingswimg1.jpg" alt="about">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-us-section padding-top">
    <div class="footer-top padding-top padding-bottom theme-overlay bg_img" style="background-color:cornflowerblue">
        <h2 class="title" style="text-align:center;font:bold;color:white">
            Up your productivity and get more done<br /> with remote workforce management <br />software
        </h2>
        <section class="about-us-section padding-top">
            <div class="container">
                <!-- Row 1 -->
                <div class="row justify-content-center mb-30-none">
                    <!-- Card 1 -->
                    <div class="col-md-6 col-lg-4 col-sm-10">
                        <div class="card-container">
                            <div class="client-item client-item-two">
                                <div class="client-thumb" style="color:white">
                                    <h4 class="sub-title">
                                        Celebrate Improvement
                                    </h4><br />
                                    <p class="h4" style="color:black">Give your team productivity benchmarks and recognize their efforts. Achievement badges celebrate milestones and stretches of high productivity. </p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Card 2 -->
                    <div class="col-md-6 col-lg-4 col-sm-10">
                        <div class="card-container">
                            <div class="client-item client-item-two">
                                <div class="client-thumb" style="color:white">
                                    <h4 class="sub-title">
                                        Identify trends
                                    </h4><br />
                                    <p class="h4" style="color:black">A major advantage of being remote is the freedom to work when you’re most productive. Activity rates based on mouse and keyboard usage give your team insight into their own productivity, and how it changes over time. </p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Card 3 -->
                    <div class="col-md-6 col-lg-4 col-sm-10">
                        <div class="card-container">
                            <div class="client-item client-item-two">
                                <div class="client-thumb" style="color:white">
                                    <h4 class="sub-title">
                                        Skip unnecessary check-ins
                                    </h4><br />
                                    <p class="h4" style="color:black">One quick glance at the Hubstaff dashboard can keep you from interrupting your team. Get an overview of the day’s projects and hours, screenshots captured, apps and URLs used, and more. </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </section>
    </div>
</section>
<section class="about-us-section padding-top">
    <div class="container">
        <div class="row flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/timetrackingimg2.jpg" alt="about">
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">Customize your experience</h2><br />
                    @*<span class="d-inline-block mx-auto shape-header"></span>*@
                    <p class="h4">
                        Our software is flexible, just like remote teams are. Screenshots can be taken up to three times per ten minutes, or turned off completely. Settings are adjustable on a per-user basis, and you can choose your own dashboard widgets so you see only the most important information.
                    </p>
                </div>

            </div>

        </div>
    </div>
</section>
<section class="about-us-section padding-top">
    <div class="footer-top padding-top padding-bottom theme-overlay bg_img" style="background-color:aliceblue">
        <h2 class="title" style="text-align:center">The transparency remote teams need</h2><br />
        @*<span class="d-inline-block mx-auto shape-header"></span>*@
        <p style="text-align:center;color:black" class="h4">
            Hubstaff was built to help remote teams work smarter, not to run secretly without your knowledge.<br /> Get a better understanding of our proof of work features and see why we provide users with access to their own data,<br /> give them control of the app, and make data more transparent.



        </p>
    </div>
</section>
<section class="about-us-section padding-top">
    <div class="container">
        <div class="row flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">A deeper dive into your<br />business</h2><br />
                    @*<span class="d-inline-block mx-auto shape-header"></span>*@
                    <p class="h4">
                        Which projects are the most profitable? How much budget has been spent, and how many hours are left? Use Hubstaff’s detailed reporting feature to get answers and identify areas of improvement.
                    </p>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/trackingswimg3.jpg" alt="about">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
</section><section class="about-us-section padding-top">
    <div class="container">
        <div class="row flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1 wow slideInUp">
                        <img src="~/MainSiteContent/images/about/trackingswimg7.jpg" alt="about">
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">Bring it all together<br />with Agile project<br />management</h2>
                    @*<span class="d-inline-block mx-auto shape-header"></span>*@
                <p class="h4">
                    Sync time tracking and project management by integrating with Hubstaff Tasks. This visual PM tool features the best parts of Agile — Sprints, Stand-ups, Epics, and more — to unite remote teams and focus on the most critical work.
                </p>
                </div>

            </div>
           
        </div>
    </div>
</section>






