@*<section class="banner-section style-two bg_img" data-background="~/MainSiteContent/images/banner/banner-bg01.jpg">*@
<section class="banner-section style-two bg_img" style="background-image: url('/MainSiteContent/images/about/Hubstaff Re-design.jpg');">
    <div class="container">
        <div class="banner-content ml-0">

            <h1 class="title wow fadeInDown" data-wow-duration="1s" data-wow-delay="0s" style="text-align:center">
                Employee time<br> tracking software <br>for remote, hybrid,<br />and in-office<br />employees
            </h1>
            <p class="wow fadeInUp ml-0" data-wow-duration="1s" style="text-align:center">
                Hubstaff’s time tracking app is unique because we built it to solve our own challenges of tracking work hours. Save hours each week using our user-friendly time tracking, automated payroll, and invoicing solution.
            </p>

        </div>
    </div>
</section>

<section class="overview-two-section overview-three-section">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <!-- Div with Image -->
            <div class="col-lg-6 p-0">
                <div class="bg_img" style="height: 100%; background-image: url(&quot;undefined&quot;);">
                    <img src="~/MainSiteContent/images/about/TimeTrackingImg1.jpg" alt="Overview Image" style="width: 90%; height: 90%; object-fit: cover; margin-left:30px">
                </div>
            </div>

            <!-- Div with Content -->
            <div class="col-lg-6 p-0">
                <div class="overview-two-content w-100 h-100 padding-top padding-bottom bg-theme">
                    <div class="content">
                        <div class="section-header mb-low light left-style">
                            <h2 class="title">Table of contents</h2>
                           
                        </div>
                        <div class="choose-area light-color">
                            <div class="choose-item">
                                <h4 class="c-content">Benefits of a smarter time tracking and employee monitoring</h4>

                            </div>
                            <div class="choose-item">
                                <h4 class="title">How to use an automated time tracking app</h4>

                            </div>
                            <div class="choose-item">
                                <h4 class="title">Who uses Hubstaff employee time tracking solution?</h4>

                            </div>
                            <div class="choose-item">
                                <h4 class="title">Principled and privacy-focused time tracking</h4>

                            </div>
                            <div class="choose-item">
                                <h4 class="title">Case studies and success stories</h4>

                            </div>
                            <div class="choose-item">
                                <h4 class="title">Case studies and success stories</h4>

                            </div>
                            <div class="choose-item">
                                <h4 class="title">Case studies and success stories</h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="about-us-section padding-top">
        <div class="container">
            <div class="row flex-wrap-reverse">
                <div class="col-lg-6">
                    <div class="section-header left-style mb-low mw-100 mt-down">
                        <h2 class="title">Benefits of a smarter time<br />tracking tool</h2>
                        @*<span class="d-inline-block mx-auto shape-header"></span>*@
                        <p class="h4">
                            Time tracking apps offer numerous advantages that can significantly impact productivity and efficiency. This data provides a clear understanding of time allocation, helps identify time-wasting activities, improves project management, and enables accurate billing and invoicing. With real-time data and comprehensive insights, individuals and teams can make informed decisions, streamline workflows, and optimize performance.
                        </p>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="about-us-thumb">
                        <div class="thumb1 wow slideInUp">
                            <img src="~/MainSiteContent/images/about/trackingImg3.jpg" alt="about">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="overview-section">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div class="col-lg-6 p-0">
                    <div class="w-100 h-100 overview-video theme-overlay bg_img" data-background="assets/images/overview/overview-bg01.jpg" style="background-image: url(&quot;assets/images/overview/overview-bg01.jpg&quot;);">
                        <a href="https://www.youtube.com/embed/GT6-H4BRyqQ" class="video" data-rel="lightcase:myCollection">
                            <i class="flaticon-play-button"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="w-100 h-100 overview-event bg-ash padding-bottom padding-top">
                        <div class="content">
                            <div class="section-header left-style mw-100">
                                <h2 class="title">How to use an automated  <br />time tracking tool</h2>
                                @*<span class="d-inline-block mx-auto shape-header"></span>*@

                            </div>
                            <div class="faq-wrapper">
                                <div class="faq-item active open">
                                    <div class="faq-title">
                                        <h4 class="title">Download the time tracking app</h4>
                                    </div>
                                    <div class="faq-content">
                                        <!--<-->@*span class="schedule">05 May,2019 - Current , Kids School</span>*@
                                        <p>
                                            Employees can download Hubstaff for Windows, Mac, Linux, Android, or iOS to track their work hours. Or, use the Google Chrome extension.
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-wrapper">
                                    <div class="faq-item active open">
                                        <div class="faq-title">
                                            <h4 class="title">Track time to projects and tasks </h4>
                                        </div>
                                        <div class="faq-content">
                                            @*<span class="schedule">05 May,2019 - Current , Kids School</span>*@
                                            <p>
                                                Time tracking apps allow employees to track time with one button. Choose specific tasks, projects, work orders, clients, or locations.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="faq-wrapper">
                                        <div class="faq-item active open">
                                            <div class="faq-title">
                                                <h4 class="title">Use time tracking software to generate time reports</h4>
                                            </div>
                                            <div class="faq-content">
                                                @*<span class="schedule">05 May,2019 - Current , Kids School</span>*@
                                                <p>
                                                    Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam
                                                    sodales. Phasellus sed mauris hendrerit, laoreet sem lrtis ante.sodales
                                                    ultricies diam. Nullam justo leo
                                                </p>
                                            </div>
                                        </div>
                                        @*<div class="faq-item">
                                                <div class="faq-title">
                                                    <h4 class="title">Commodo sagittis quam, sagittis</h4>
                                                </div>
                                                <div class="faq-content">
                                                    <span class="schedule">05 May,2019 - Current , Kids School</span>
                                                    <p>
                                                        Managers can create time reports that will allow them to learn more about how employees spend their working time. You can then use this information to generate better estimates, streamline your workflow, and complete projects on time.
                                                    </p>
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <section class="about-us-section padding-top">
        <div class="row justify-content-center mb-30-none">
            <!-- Card 1 -->
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Employee hours tracker
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Track every minute spent on tasks and learn how long it takes to complete projects — track time with one click using the simple employee stopwatch.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Automated timesheets
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Generate timesheets automatically based on time entries. See a detailed breakdown of employees’ hours by date, client, and project. Review, approve, or reject timesheets from a single location.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Time off, holidays, and breaks
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Review and approve employee time off requests from an easy-to-use dashboard. Set up paid or unpaid time off policies, break policies, and shift schedules for better time tracking and planning.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Payroll integration features
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Use integrations with PayPal, Payoneer, Wise, and Bitwage to automate payroll based on billable hours. Set automatic weekly or monthly payments for international and local employees, or send payments manually.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Track budgets and projects
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Track project costs and set project budgets based on hours, bill rates, or pay rates. Get notifications when you’re close to going over budget.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                GPS tracking
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Help mobile and field service teams track time easily with GPS and geofenced time clocks. Based on location, your team can automatically clock in when in the radius of work or Job sites.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="about-us-section padding-top">
        <div class="container">
            <div class="row flex-wrap-reverse">
                <div class="col-lg-6">
                    <div class="section-header left-style mb-low mw-100 mt-down">
                        <h2 class="title">Who uses Hubstaff<br>employee time tracking<br />software?</h2><br />
                        @*<span class="d-inline-block mx-auto shape-header"></span>*@
                        <p class="h4">
                            Remote, field, and in-office teams use Hubstaff as an easy way to track work progress and hours. Over 95,000 businesses trust Hubstaff to record employee hours and shift schedules. These organizations include:

                            Software development
                        </p>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="about-us-thumb">
                        <div class="thumb1 wow slideInUp">
                            <img src="~/MainSiteContent/images/about/timeTracking44.jpeg" alt="about">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

