@*<section class="banner-section bg_img jquery-ripples" data-background="assets/images/banner/banner-bg02.jpg" style="background-image: url(&quot;assets/images/banner/banner-bg02.jpg&quot;);">*@
<section class="banner-section style-two bg_img" style="background-image: url('/MainSiteContent/images/about/Hubstaff Re-design.jpg');">
    <div class="container">
        <div class="banner-content mx-auto text-center">
            <span class="cate wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 1s; animation-name: fadeInUp;"></span>
            <h1 class="title wow fadeInDown" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInDown;">A Windows time  <br />tracking app built for <br />productivity</h1>
            <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="button-group justify-content-center wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: fadeInUp;">
                    <a href="contact.html" class="custom-button">Try Hubstauff for free</a>
                    <a href="admission.html" class="custom-button active">Talk to Sale</a>
                </div>
        </div>
    </div>
    <canvas width="1161" height="727" style="position: absolute; inset: 0px; z-index: -1;"></canvas>
</section>
<section class="about-us-section padding-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-us-thumb">
                    <div class="thumb1">
                        <img src="~/MainSiteContent/images/about/windowapp1.jpg" alt="about">
                    </div>
                    @*<div class="thumb2">
                            <img src="assets/images/about/about02.jpg" alt="about">
                        </div>*@
                    @*<div class="thumb3">
                            <img src="assets/images/about/about03.jpg" alt="about">
                        </div>*@
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header left-style mb-low mw-100 mt-down">
                    <h2 class="title">Automatic time tracking for <br /> Windows</h2>
                    @*<span class="d-inline-block mx-auto shape-header"></span>*@
                    <p>
                        A powerful desktop app built to run on Windows 8 or newer. Questions? View the operating system requirements.
                    </p>
                </div>
                <div class="about-swim-area">
                    <div class="about-swim-item">
                        <h4 class="title">Windows 11</h4>

                    </div>
                    <div class="about-swim-item">
                        <h4 class="title">Windows 10 S (2017)</h4>

                    </div>
                    <div class="about-swim-item">
                        <h4 class="title">Windows 10 (2015) MS Version 6.4</h4>

                    </div>
                    <div class="about-swim-item">
                        <h4 class="title">Windows 8/8.1 (2012-2013) MS Version 6.2/6.3</h4>

                    </div>
                    <div class="about-swim-item">
                        <h4 class="title">Windows 7 (2009) - Supports Windows 7 machines with TLS 1.2 enabled</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="overview-two-section overview-three-section">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <!-- Div with Image -->
            @*<div class="col-lg-6 p-0">
                    <div class="bg_img" style="height: 100%;">
                        <img src="~/MainSiteContent/images/about/employeetimesheet3_1.jpeg" alt="Overview Image" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                </div>*@

            <!-- Div with Content -->
            <div class="col-lg-6 p-0">
                <div class="overview-two-content w-100 h-100 padding-top padding-bottom bg-theme">
                    <div class="content">
                        <div class="section-header mb-low light left-style">
                            <h2 class="title">How the Windows desktop<br />tracker app works</h2>
                        </div>
                        <div class="choose-area light-color">
                            <div class="choose-item">
                                <h4 class="title">Create your account and download the app</h4>
                                <p><a href="@Url.Action("Register","Home")"><b>Sign up</b></a> for Hubstaff and then have your team download the desktop app. It only takes a few minutes.</p>
                            </div>
                            <div class="choose-item">
                                <h4 class="title">Create to-dos and assign them</h4>
                                <p>Add projects and tasks, then assign them to team members so they can start tracking time. They can use the desktop, mobile, web app, or Chrome extension to track their time easily..</p>
                            </div>
                            <div class="choose-item">
                                <h4 class="title">See time and activity data in your dashboard</h4>
                                <p>Right away, you can see employee hours in the online timesheet app. Mobile time, desktop time, and manual time are consolidated into one timesheet view.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="bg_img" style="height: 100%;">
                    <img src="~/MainSiteContent/images/about/windowapp1.jpg" alt="Overview Image" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-us-section padding-top">
    <div class="choose-item" style="text-align: center;">
        <h3 class="title">Automate time tracking for Windows</h3>
    </div>

</section>
<div>
    <section class="about-us-section padding-top">
        <div class="row justify-content-center mb-30-none">
            <!-- Card 1 -->
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Level up your time tracking
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Hubstaff’s Windows time tracking software has built-in features like timesheet approvals, time off requests, work breaks, etc. Tracking your team’s billable hours is even easier.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Keep an eye on costs
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Manage project and client costs by setting budgets based on hours or time spent. Our time tracking tool alerts you as your team approaches limits.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Set rates and speed up payroll
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Hubstaff allows you to set pay rates for each person, so you can quickly review timesheets and then send payments directly. Use a payment integration to speed things up even more
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <img src="~/MainSiteContent/images/about/windowapp3 (1).jpg" alt="" />
    </div>
</div>
<div>
    <section class="about-us-section padding-top">
        <div class="row justify-content-center mb-30-none">
            <!-- Card 1 -->
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Easy invoices
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Send and create invoices based on time tracked and bill rates.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Team scheduling
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Manage your team’s shifts and track hours right from Hubstaff.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Payments
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Send payments to your team using hours worked and pay rates.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
<div>
    <section class="about-us-section padding-top">
        <div class="row justify-content-center mb-30-none">
            <!-- Card 1 -->
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Project management
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Try our Agile task management add-on, Tasks, for seamless time and task tracking.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Detailed reporting
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Dig into projects, budgets, working time, and more with a library of productivity reports.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="card-container">
                    <div class="client-item client-item-two">
                        <div class="client-thumb">
                            <h4 class="sub-title">
                                Over 30+ Integrations
                            </h4>
                        </div>
                        <div class="client-content">
                            <p>
                                Connect Hubstaff with the apps you’re already using, including Slack, Zapier, Quickbooks, and more.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



